{% extends 'base.html' %}
{% block content %}
    <h1 class="display-5">About this website</h1>
    <ul>
        <li>
            <p class="lead"><strong>
                This website can recommend students material related to the digital system course and specifically
                the subjects of Numbering systems, numbering systems’ conversions and operations, 1’s and 2’s
                complement,
                Signed binary numbers, BCD numbers, BCD addition and logic gates.
            </strong></p>
        </li>
        <li>
            <p class="lead"><strong>
                The material our system recommends is based on the student's learning preference and the student's
                current
                knowledge about the subjects mentioned. It evaluates their preference based on the VARK model. It does
                this by
                using the VARK questionnaire after registration. As for the current knowledge, it uses a short
                quiz to determine the student's current level of knowledge in these subjects and then adapts to
                changes in this knowledge after the student has finished learning a new concept.
            </strong></p>
        </li>
        <li>
            <p class="lead"><strong>
                this website was created as a graduation Project submitted to the Department of Electrical
                and Computer Engineering in Birzeit University in partial fulfillment of the requirements
                for the degree of B.Sc. in Computer Engineering.
            </strong></p>
        </li>
    </ul>
{% endblock %}