{% extends 'base.html' %}
{% block content %}
    <div class="card float-end bg-gradiant rounded" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Welcome {{ user.username }}</h5>
            <div class="row ml-1 ">
                <div>
                    <h6>Preference: {{ preference }}</h6>
                </div>
                <div>
                    {% if not materials %}
                    <h6>Level: Max</h6>
                    {% else %}
                    <h6>Level: {{ user.student.student_skill }}</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <h1 class="display-4">Current recommendations</h1>
    <form method="post">
    {% csrf_token %}
    {% if not materials %}
    <p class="lead"><strong>You have finished all of the material available to you.

    </strong></p>
    {% else %}
    {% for mat in materials %}
        {% if mat not in learned %}
        <ul>
            <li>
            <p class="lead">{{ mat.name }}</p>
            <a href="{{ mat.link }}" class="btn btn-md btn-primary">Link</a>
                <button type="submit" name="{{ mat.name }}" class="btn btn-success btn-sm ms-1">✓ Mark as finished</button>
            </li>
        {% endif %}
        </ul>
    {% endfor %}
    {% endif %}
    <h1 class="display-4">Extras</h1>
    {% if not misconceptions %}
        <p class="lead"><strong>We found that you do not need any extra material to revise</strong></p>
    {% else %}
    <p class="lead">We noticed that you might have some misconceptions, here are some short recommendations to help you
    revise:</p>
    {% for mat in misconceptions %}
        {% if mat not in learned %}
        <ul>
            <li>
            <p class="lead">{{ mat.name }}</p>
            <a href="{{ mat.link }}" class="btn btn-md btn-primary">Link</a>
                <button type="submit" name="{{ mat.name }}" class="btn btn-success btn-sm ms-1">✓ Mark as finished</button>
            </li>
        {% endif %}
        </ul>
    {% endfor %}
    {% endif %}
    </form>
    {% if not learned %}
    <br>
    {% else %}
    <h2 class="display-4">Finished material</h2>
        <p class="lead"><strong>Here are the material that you have finished so far:</strong></p>
    {% for mat in learned %}
        <p class="lead">✓ {{ mat.name }}</p>
    {% endfor %}
    {% endif %}
{% endblock %}