<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(54, 70, 82, 0.15)">
    <div class="container-fluid">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}"
                   class="navbar-brand mb-0 h1">
                    <img src="https://cdn.discordapp.com/attachments/593379149050150925/930467573592653884/logo.png"
                         class="d-inline-block align-top" width="30" height="30">
                    Home
                </a>
                <li class="nav-item h6">
                    <a class="nav-link" href="{% url 'update' %}">Update profile</a>
                </li>
                <li class="nav-item h6">
                    <a class="nav-link" href="{% url 'change_pass' %}">Change password</a>
                </li>
                <li class="nav-item h6">
                    <a class="nav-link" href="{% url 'poll' %}">Retake poll</a>
                </li>
                <li class="nav-item h6">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item h6">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item h6 float-end">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item h6">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item h6">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                </ul>

                </div>
                </nav>
            {% endif %}