<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha
         384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{% block title %}Recommender{% endblock %}</title>
</head>
<body class="bg-light">
<header>
    {% if took_poll %}
    {% include "navbar.html" %}
    {% endif %}
</header>
<main>
    <div class="container p-5 my-5 border">
        <h1 class="display-5">Learning preference</h1>
        <p class="lead"><strong>Please choose the best answers that you find most fitting. You can answer
            multiple choices if a single choice doesn't match your preference.
        </strong>
        </p>

        <form method='post' novalidate>
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            {% for p  in polls %}
                <div class="form-group">
                    <label for="poll">{{ p.poll }}</label>
                </div>
                <div class="form-check">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ p.poll }}" id="gridbox1" value='op1'>
                        <label class="form-check-label" for="gridbox1">
                            {{ p.op1 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ p.poll }}" id="gridbox2" value='op2'>
                        <label class="form-check-label" for="gridbox2">
                            {{ p.op2 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ p.poll }}" id="gridbox3" value='op3'>
                        <label class="form-check-label" for="gridbox3">
                            {{ p.op3 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ p.poll }}" id="gridbox4" value='op4'>
                        <label class="form-check-label" for="gridbox4">
                            {{ p.op4 }}
                        </label>
                    </div>
                    <br>
                </div>
            {% endfor %}
            {% if not not_first_time %}
            <button type="submit" class="btn btn-success btn-lg">Finish and Continue</button>
            {% else %}
            <button type="submit" class="btn btn-success">Submit and return</button>
            {% endif %}
        </form>
</main>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ9
         5wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIp
         I6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>