{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger m-2" id="msg" role="alert">
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% if field.help_text %}
                    <p><small style="color: grey">{{ field.help_text }}</small></p>
                {% endif %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}