{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
  <h2>Sign up</h2>
    <form method="post">
   {% csrf_token %}
   {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
   {{ user_form|crispy }}
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
{% endblock %}